body{

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 34, 34);
    margin: 0;
    
}

.container{
    width: 900px;
    margin: 0 auto;
}

.foto{

    width: 200px;
    border: 2px solid #ffff;
    border-radius: 30%;
    margin: 30px; /*shorthand (forma abreviada*/
    padding: 2px;
    box-shadow: 0px 0px 10px #959595;
}

.profile{
    text-align: center;
    background-color: rgb(238, 238, 246);
    margin-bottom: 40px;
}

h1{
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: -1px;
    font-size: 40px;
}

h2{
    margin-top: 0;
    font-style: normal;
    color: rgb(73, 73, 73);
    font-weight: 100;
    letter-spacing: -1px;
    color: black;
}


p{
    line-height: 25px;
}

.social-links{
    text-decoration: none;
}

.social-icons{
    width: 20px;
}

.github{
    margin: 0 15px 0 15px;
}

.footer{
    margin-top: 40px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}